<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
</head>
<body>
    <center>
        <h2>{{{Heading}}}</h2>
        <img src="/site/images/Logo.jpg"  width="70px" height="70px" alt="Logo"/>
    </center>
</body>
</html>